# Environment variables for Wallabag API service

# Wallabag server configuration
WALLABAG_URL=https://wallabag.mac.axyz.cc:30923

# OAuth2 client configuration
CLIENT_ID=1_3o53gl30vhgk0c8ks4cocww08o84448osgo40wgw4gwkoo8skc
CLIENT_SECRET=636ocbqo978ckw0gsw4gcwwocg8044sco0w8w84cws48ggogs4

# User credentials
USERNAME=wallabag
PASSWORD=wallabag

# Server configuration
HOST=0.0.0.0
PORT=8000
DEBUG=True